<div class="container">
  <div class="col-sm-12 text-center  mt-4 pt-5 pb-3 contact-header">
    <h2 class="text-center">Contact Info</h2>
    <h5>
      <i class="fa fa-envelope-o"></i> Email Me At</h5>
    <a href="mailto:katurivssandeep@gmail.com">katurivssandeep@gmail.com</a>
    <h5 class="pt-4">
      <i class="fa fa-mobile-phone"></i> Call Me At</h5>
    <p>Phone: +1-470-455-1709</p>
  </div>
  <div class="col-sm-12 contact-details">
    <div class="row">

      <form>
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
    </form>

  </div>
</div>
</div>

<footer>
  <ul class="footer-social">
    <li>
      <a href="https://www.facebook.com/chamarthylakshmi.priyanka">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lpchamarthy/">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
  <div class="copyright">
    <span>© Copyright Katuri Venkata Surya Sandeep</span>
  </div>

</footer>

<!--

      <div id="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
          <i class="fa fa-long-arrow-up"></i>
        </a>
      </div>-->
