<div class="container">
  <div class="col-sm-12 text-center  mt-4 pt-5 pb-3 contact-header">
    <h2 class="text-center">Contact Info</h2>
    <div class="text-left">
      <span>
        <h5 class="side-head">
          <i class="fa fa-envelope-o icon"></i> Email Me At: 
          <a class="email" href="mailto:katurivssandeep@gmail.com">katurivssandeep@gmail.com</a>
        </h5>
      </span>
      <span>
        <h5 class="side-head pt-2">
          <i class="fa fa-mobile-phone icon"></i> Mobile:
          <a>+1-470-455-1709</a>
        </h5>
      </span>
      <h3 class="text-muted pt-3">Or.. Please fill out this form so that I can contact you.</h3>
    </div>
  </div>
  <div class="col-sm-12">
    <form>
      <div class="form-group">
        <label for="usr" class="label-header">Full Name: </label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="phone" class="label-header">Phone Number: </label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="email" class="label-header">Email: </label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="desc" class="label-header">Description: </label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-light btn-block submit-text">Submit</button>
    </form>
  </div>


<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" href="https://github.com/kvssandeep" target="_blank">
        <i class="fa fa-github social-icons"> </i>
      </a>
    </li>
    <li class="list-inline-item pl-4">
      <a class="btn-floating btn-li mx-1" href="https://www.youracclaim.com/badges/0ba716d9-f891-46b4-89d9-3e26a8ebc8b8/linked_in_profile" target="_blank">
        <i class="fa fa-certificate social-icons"> </i>
      </a>
    </li>
    <li class="list-inline-item pl-4">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/sandeepvenkatakaturis/" target="_blank">
          <i class="fa fa-linkedin social-icons"> </i>
        </a>
      </li>
  </ul>

  <div class="footer-copyright text-center pb-3">© 2018 Copyright:
    <a class="copy" href="#"> Katuri Venkata Surya Sandeep</a>
  </div>
</footer>
</div>