<div class="container">
  <div class="col-sm-12">
    <h1 class="text-center mt-3 pt-5">Let me introduce myself.</h1>
    <img class="rounded-circle float-left" width="130" height="130" src="../../../assets/dp.jpg" alt="Profile Picture">
    <p class="text-muted lead">I am a recent graduate from Georgia State University, actively seeking for full-time opportunities as Front-End Developer</p>
    <h3 class="text-center">Profile</h3>
    <ul class="list-group list-group-flush borderless">
      <li class="list-group-item borderless text-justify">Over 2+ years of progressive experience in developing and deploying web application projects using HTML5, CSS3, JavaScript,
        jQuery, JSON, JAVA, Ajax, XML, Angular, NodeJS, Bootstrap and PHP.</li>
      <li class="list-group-item borderless text-justify">Sound familiarity in creating and accessing various databases using SQL queries, PL/SQL scripts on Oracle, MS-SQL server
        and No-SQL databases like MongoDB.</li>
      <li class="list-group-item borderless text-justify">Solid understanding of DBMS concepts and experience working with Oracle, MySQL, SQL Server.</li>
      <li class="list-group-item borderless text-justify">Good working experience in designing and implementing various web applications in LAMP (Linux, Apache, MySQL, PHP)
        environment.
      </li>
      <li class="list-group-item borderless text-justify">Experience in designing Responsive Web Design(RWD) with CSS media Queries and Bootstrap.</li>
      <li class="list-group-item borderless text-justify">Experience with various JavaScript frameworks/ libraries like Angular, Node JS and jQuery.</li>
      <li class="list-group-item borderless text-justify">Good experience in third party REST API integration, and also package management tools like GULP, NPM (Node Package
        Manager).
      </li>
      <li class="list-group-item borderless text-justify">Had also experience in tutoring the undergraduates for the courses Web Programming and Databases during my Master’s.</li>
    </ul>
    <h3 class="text-center pt-3 pb-3">SkillSet</h3>
  </div>

  <div class="row pl-5">
    <div class="column">
      <img src="../../../assets/HTML.png" alt="HTML" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/css3.png" alt="CSS" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/Javascript_badge.png" alt="Javascript" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/Typescript.png" alt="Typescript" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/angular2.png" alt="Angular" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/ajax.png" alt="Ajax" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/jquery.png" alt="jquery" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/Bootstrap.png" alt="Bootstrap" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/php.png" alt="php" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/sql.png" alt="sql" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/git.png" alt="git" class="rounded-circle" width="120" height="120">
    </div>
    <div class="column">
      <img src="../../../assets/nodejs.png" alt="nodejs" class="rounded-circle" width="120" height="120">
    </div>
  </div>
</div>
