<div class="container">
  <div class="col-sm-12 text-center  mt-4 pt-5 pb-3 education-header">
    <h2 class="text-center">Education Background</h2>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">

        <h3>PERSONAL NOTES APPLICATION BASED ON NODEJS</h3>
        <ul class="desc">
          <li>Designed a notes recording application using JQuery and Indexed DB.</li>
          <li>Implemented CRUD for notes</li>
          <li>Designed and implemented an express-generator node package application using Pug template to display JSON data.
          </li>
          <li>Which has localhost:3000 as the default homepage DSN.</li>
          <li>Built pug template using HTML5, Bootstrap and CSS3.</li>
        </ul>

      </div>

      <div class="col-sm-6">


        <h3>IT AUDITING CASE STUDY
          <br/>
        </h3>


        <ul class="desc">
          <li>Learned and understood standards like PCI-DSS, ISO 270001/2, SOX 404 and Job Practices Areas of CISA.</li>
          <li>Researched and acknowledged the various difficulties and challenges faced by auditors during audits.</li>
          <li>Analyzed the similarities and differences between PCI-DSS and ISO 27001/2 standards.</li>
        </ul>

      </div>



      <div class="col-sm-6">

        <h3>TEXT ANALYTICS ON YAHOO! DEF14A FILES </h3>


        <ul class="desc">
          <li>Extracted DEF14A files from Securities & Exchange Commission.</li>
          <li>Implemented Text Analytics on the data from 1994 to 2015</li>
          <li>Created a word cloud of the most frequently used words</li>
        </ul>




      </div>


      <div class="col-sm-6">

        <h3>DOCDROID ANDROID APP
          <br/>
        </h3>


        <ul class="desc">
          <li>Designed and implemented an android app using Java and Genymotion android emulator.</li>
          <li>Implemented maps and notification features in the app.</li>
        </ul>




      </div>

      <div class="col-sm-6">

        <h3>RETAIL SITE WORK FLOW
          <br/>
        </h3>


        <ul class="desc">
          <li>Designed a generic Work Flow of for retail sites using Interaction, Object diagrams. </li>
          <li>Developed Event state tables and Pseudo code for various use cases.</li>
          <li>Designed Test Scenarios, Test Matrix and Reusability Matrix to test the use-cases.</li>
        </ul>




      </div>


      <div class="col-sm-6">

        <h3>SPLITWISE REVENUE MODEL
          <br/>
        </h3>


        <ul class="desc">
          <li>Analyzed the existing revenue model of Splitwise App</li>
          <li>Developed and documented a new revenue model using the ITIL framework.</li>
          <li>Formulated Service Operation and Service Operation phases to achieve the proposed model.</li>
        </ul>



      </div>


    </div>
  </div>


</div>
