<div id="demo" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/dp.jpg"  alt="slide1">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/web1.jpg" alt="slide2">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/dp.jpg" alt="slide3">
      </div>
    </div>

    <a class="carousel-control-prev " href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon prev-next-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon prev-next-icon"></span>
    </a>  
  </div>

<div class="hero-text">    
  <h3>Hello, All!!</h3>
  <h1>Sandeep Katuri V S</h1>
  <p class="intro-position">
    <span>Front-End Developer</span>
  </p>
  <a class="button btn btn-primary btn-lg" routerLink="/about" title="About me">More About Me&nbsp;
    <i class="fa fa-sort-down"></i>
  </a>
</div>