<div class="container">
  <div class="col-sm-12 text-center  mt-4 pt-5 pb-3 education-header">
    <h2 class="text-center">Education Background</h2>
  </div>
  <div class="col-sm-12">

    <div class="timeline-wrap">

      <div class="timeline-block">

        <div class="timeline-ico">
          <i class="fa fa-graduation-cap"></i>
        </div>

        <div class="timeline-header">
          <h3 class="pt-2">Masters Degree</h3>
          <p>Jan 2016 - May 2017</p>
        </div>

        <div class="timeline-content">
         <h4>GEORGIA STATE UNIVERSITY (Atlanta, Georgia) <img src="../../../assets/HTML.png" alt="HTML" class="rounded-circle" width="60" height="60"></h4>
          <p>
            Masters in Computer Science
            <br> GPA: 3.8 / 4.0
          </p>
        </div>

      </div>
      <!-- /timeline-block -->

      <div class="timeline-block">

        <div class="timeline-ico">
          <i class="fa fa-graduation-cap"></i>
        </div>

        <div class="timeline-header">
          <h3 class="pt-2"> Bachelor Degree</h3>
          <p>June 2011 - May 2015</p>
        </div>

        <div class="timeline-content">
          <h4>GITAM UNIVERSITY(Vizag, INDIA) <img src="../../../assets/HTML.png" alt="HTML" class="rounded-circle" width="60" height="60"></h4>
          <p>
            Bachelors in Computer Science
            <br> GPA: 3.8 / 4.0
          </p>
        </div>

      </div>

    </div>
  </div>
</div>
