<div class="container">
  <div class="col-sm-12 text-center  mt-4 pt-5 pb-3 education-header">
    <h2 class="text-center">Work Experience</h2>
  </div>
  <div class="col-sm-12">
    <div class="timeline-wrap">
      <div class="timeline-block">

        <div class="timeline-ico">
          <i class="fa fa-briefcase"></i>
        </div>

        <div class="timeline-header">
          <h3>Web-Masters Committee Member</h3>
          <p>January 2017 - Present</p>
        </div>

        <div class="timeline-content">
          <h4>TEDXIIT <img src="../../../assets/HTML.png" alt="HTML" class="rounded-circle" width="60" height="60"></h4>

          <ul>
            <li>Maintenance and upgrading of the domain www.tedxiit.com using JavaScript, PHP, SQL, HTML5/CSS, WordPress.</li>
            <li>Developed and maintained profile pages of Organizing committee and TEDxIIT 2017 Speakers.</li>
            <li>Added reconfigurable sub-domain forwarding functionality for the about 20 subdomains.</li>
            <li>Worked with diverse team on tight deadline and delivered website on schedule.</li>
            <li>Audited the website for conforming to the TED license terms and proposed modifications.</li>
          </ul>

        </div>

      </div>
      <!-- /timeline-block -->

      <div class="timeline-block">

        <div class="timeline-ico">
          <i class="fa fa-briefcase"></i>
        </div>

        <div class="timeline-header">
          <h3>Associate System Engineer</h3>
          <p>May 2015 - December 2015</p>
        </div>

        <div class="timeline-content">
          <h4>INTERNATIONAL BUSINESS MACHINE, IBM (INDIA) <img src="../../../assets/HTML.png" alt="HTML" class="rounded-circle" width="60" height="60"></h4>

          <ul>
            <li>Responsible for maintaining and creating new functionalities for CRM system for Vodafone Ireland.</li>
            <li>Developed pseudo element templates from the wireframe layouts using AngualarJS, Bootstrap, HTML5 and CSS3.</li>
            <li>Designed and implemented Create/Generate New customer form for the Customer Service agents with client side form
              validation using JavaScript and Pseudo element templates</li>
            <li>Integrated with backend Create Customer REST service using Ajax, JQuery.</li>
            <li>Performed extensive UI Performance & Load testing using Load Runner.</li>
            <li>Proactively fine-tuned UI components to improve page response time by 30%.</li>
            <li>Developed code in an Agile development process and used GitHub, Bower (for dependency management).</li>
          </ul>

        </div>

      </div>
      <!-- /timeline-block -->

      <div class="timeline-block">

        <div class="timeline-ico">
          <i class="fa fa-briefcase"></i>
        </div>

        <div class="timeline-header">
          <h3>Junior .NET Developer</h3>
          <p>August 2014 - Febrary 2015</p>
        </div>

        <div class="timeline-content">
          <h4>INRHYTHM SOLUTIONS (INDIA) <img src="../../../assets/HTML.png" alt="HTML" class="rounded-circle" width="60" height="60"></h4>

          <ul>
            <li>Trained in C#, .NET MVC framework, ASP.NET, ADO.NET, MySQL (DBMS), JavaScript, HTML5, CSS3 and JQuery Mobile.</li>
            <li>Responsible for adding Ticket workflow functionality for Internal Ticket Management Systems.</li>
            <li>Designed and Developed documentation for Ticket workflow using UML diagrams from requirement for User Ticket
              workflow.</li>
            <li>Implemented Workflow Configuration page for different flow paths including user and manager workflows.</li>
            <li>Developed User Ticket pseudo element template using ASP.NET, JQuery Mobile, HTML5 and CSS3.</li>
            <li>Implemented Client side validations with JavaScript and Server side validations with ASP.Net 4.5 using C#.</li>
            <li>Integrated with SQL Server 2012 database server using ADO.NET objects.</li>
          </ul>
        </div>
      </div>
	</div>
  </div>
</div>
